version: '3.8'

services:
  web:
    image: nginx:stable-alpine
    container_name: react-nginx-local
    restart: always
    ports:
      - "80:80"
    volumes:
      - /home/capito/build:/usr/share/nginx/html:ro
